<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNlOekxZuJiQFu88A7piIbtonyGLpwuao</string>
	<key>GCM_SENDER_ID</key>
	<string>571067552949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.justLogin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>demoapp-c9ebc</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-c9ebc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571067552949:ios:d86c302beb0397a9775afc</string>
</dict>
</plist>